.subjects__cont {
  margin-top: 15rem;
  grid-column: center-start / center-end;
}

.subject {
  list-style: none;
  &:not(:first-child) {
    margin-top: 5rem;
  }

  a {
    text-decoration: none;
    color: $color-grey-dark-2;

    &:hover {
      color: $color-grey-dark-1;
    }
  }
}
